.space-8 {
  display: block;
  height: 8px;
}

.space-10 {
  display: block;
  height: 10px;
}

.space-14 {
  display: block;
  height: 14px;
}

.space-20 {
  display: block;
  height: 20px;
}

.space-28 {
  display: block;
  height: 28px;
}

.space-42 {
  display: block;
  height: 42px;
}

.space-56 {
  display: block;
  height: 56px;
}

.space-70 {
  display: block;
  height: 70px;
}
